<div id="reports" v-cloak>

  <div class="container-fluid nav">
    <i class="fa fa-bar-chart" aria-hidden="true" style="padding-top: 6px;"></i> &nbsp;&nbsp; Reports
  </div>
  <br>
  <br><br>
  <div class="container-fluid">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active text-dark" data-toggle="tab" href="#home">How did users know</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-dark" data-toggle="tab" href="#menu1">Age Analysis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-dark" data-toggle="tab" href="#menu2">Registration Timeline</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane container active" id="home">
        <br><br>
        <div class="row">
          <div class="col-5">
            <input type="date" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="col-5">
            <input type="date" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="col-2">
            <button type="button" name="button" class="btn btn-success">Filter</button>
          </div>
        </div>
        <br><br>
        <br><br>

        <div class="container">
          <img src="/images/Screen Shot 2021-06-22 at 9.50.08 PM.png" alt="" style="width: 80%;">
        </div>


      </div>
      <div class="tab-pane container fade" id="menu1">
        <br><br>
        <div class="row">
          <div class="col-5">
            <input type="date" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="col-5">
            <input type="date" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="col-2">
            <button type="button" name="button" class="btn btn-success">Filter</button>
          </div>
        </div>
        <br><br>
        <br><br>

        <div class="container">
          <img src="/images/Screen Shot 2021-06-22 at 9.50.08 PM.png" alt="" style="width: 80%;">
        </div>


      </div>
      <div class="tab-pane container fade" id="menu2">
        <br><br>
        <div class="row">
          <div class="col-5">
            <input type="date" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="col-5">
            <input type="date" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="col-2">
            <button type="button" name="button" class="btn btn-success">Filter</button>
          </div>
        </div>
        <br><br>
        <br><br>

        <div class="container">
          <img src="/images/Screen Shot 2021-06-22 at 9.50.08 PM.png" alt="" style="width: 80%;">
        </div>


      </div>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
