<div id="reports" v-cloak>

  <div class="container-fluid nav">
    <i class="fa fa-bar-chart" aria-hidden="true" style="padding-top: 6px;"></i> &nbsp;&nbsp; Reports
  </div>
  <br>
  <br><br>
  <div class="container">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <form v-bind:action="listView" method="get" class="">
          <br><br>
            <div class="container row">
              <div class="col-3">
                <select name="type" id="type" name="type" class="form-control" v-model="type" >
                  <option value="0">How did you here</option>
                  <option value="1">By age</option>
                </select>
              </div>
              <div class="col-3">
                <input type="date" class="form-control" id="fromDate" name="fromDate" placeholder="Email" v-model="from">
              </div>
              <div class="col-3">
                <input type="date" class="form-control" id="toTime" name="toTime" placeholder="Email" v-model="to">
              </div>
              <div class="col-3">
                <button type="submit" class="btn btn-success">Filter</button>
              </div>
            </div>
          <!-- </div> -->
      </form>
      <br><br>
      <br><br>
      <div class="container ml-10" v-if="chartData.length > 0" style="padding-left:100px">
        <div id="top_x_div" style="width: 80%; height: 600px;" class="pl-10" style="padding-left:1000px"></div>
      </div>
      <div class="container alert" v-else>
        No Data To Show
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
